
/* gives border-box to everything while allowing developers to use content-box elsewhere */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


body {
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 2.5rem;
  font-weight: 300;
  text-align: center;
  text-shadow: 1px 1px 1px grey;
  margin-top: 10px;
}

h1 img {
  height: 2.3rem;
  margin-bottom: -2px;
}

#header-img {
  width: 100%;
}


/*
section {
  width: 85%;
  margin: auto;
}*/

.row img {
  max-width: 100%;
}

h2 {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.2;
  text-shadow: 1px 1px 1px grey;
  margin-bottom: 7px;
}

.large-font {
  font-size: 18px;
}

.center {
  text-align: center;
}

.line-height-high {
  line-height: 1.7;
}




li:before {
  content: '✔';
  color: green;
  margin-right: .2em;
}

.row li {
  margin-bottom: 10px;
  list-style: none;
}

figcaption {
  color: grey;
  font-size: 15px;
}

.small-font {
  font-size: 16px;
}

#globe-app {
  display: block;
  margin: 0 auto 20px auto;
}

.no-text-decoration {
  text-decoration: none;
}

.btn {
  display: flex;
  align-items: center;
  font-size: 20px;
  padding: 5px 10px;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  margin: auto;
  margin-bottom: 30px;
}

#sample-page-btn {
  background-color: #28a745;
  text-decoration: none;
  margin-bottom: 50px;
  padding-left: 40px;
  padding-right: 40px;
}
#sample-page-btn:hover {
  background-color: #218838;
}

.question {
  color: green;
  margin-bottom: 4px;
}

.answer {
  color: #444;
  margin-top: 0;
  margin-bottom: 15px;
}

button img {
  height: 45px;
  margin-right: 10px;
}

#instructions {
  margin-top: 9px;
}

.instructions-step {
  font-size: 18px;
  font-weight: bold;
  margin: 4px;
}

.instructions-details {
  color: #555;
  margin: 8px;
  line-height: 1.4;
}

.primary {
  background-color: #1f66e5;
}
.primary:hover {
  background-color: #185bd2;
}



footer {
  margin-top: 60px;
  background-color: #eee;
  padding: 15px;
}

.footer-title {
  font-size: 24px;
}


/* Media Queries */

/*splits footer into separate columns on larger screens*/
@media only screen and (min-width: 600px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  section {
    width: 70%;
    margin: auto;
  }
/*

  .our-role {
    width: 70%;
    margin: 40px auto;
  }
*/

  .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  footer {
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    grid-gap: 50px;
    padding-left: 60px;
  }

  footer p {
    text-align: justify;
  }

  footer > p:last-of-type {
    padding-right: 60px;
  }


}
