
/* gives border-box to everything while allowing developers to use content-box elsewhere */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: Arial, sans-serif;
  font-size:16px;
}

h1 {
  font-size: 2.5rem;
  font-weight: 300;
  text-align: center;
  text-shadow: 1px 1px 1px grey;
  margin-top: 10px;
  /*Changes default margin after h1 */
  -webkit-margin-after: 15px;
}

h1 img {
  height: 2.3rem;
  margin-bottom: -2px;
  margin-right: 10px;
}

#header-img {
  max-width: 100%;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

section {
  width: 95%;
  margin: auto;
}

h2 {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.2;
  margin-top: 15px;
  margin-bottom: 17px;
  text-shadow: 0px 1px 1px grey;
}

.large-font {
  font-size: 18px;
}

.line-height-high {
  line-height: 1.7;
}

.small-font {
  font-size: 16px;
}

.row-image {
  margin: auto;
  display: block;
  max-width: 100%;
}

figcaption {
  color: grey;
  font-size: 15px;
  text-align: center;
}

.row ul {
  list-style: none;
  justify-self: center;
  padding: 0;
  text-align: center;
}

.row li {
  margin-bottom: 14px;
}

.checkmark {
  width: 14px;
}

#globe-app {
  display: block;
  margin: 5px auto 20px auto;
}

.no-text-decoration {
  text-decoration: none;
}

.btn {
  display: flex;
  align-items: center;
  margin: auto;
  margin-bottom: 30px;
  font-size: 20px;
  padding: 5px 10px;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

button img {
  height: 45px;
  margin-right: 10px;
}

#sample-page-btn {
  background-color: #28a745;
  margin-bottom: 50px;
  padding-left: 40px;
  padding-right: 40px;
}
#sample-page-btn:hover {
  background-color: #218838;
}

#instructions {
  margin-top: 9px;
}

.instructions-step {
  font-size: 18px;
  font-weight: bold;
  margin: 4px;
}

.instructions-details {
  color: #444;
  margin: 8px;
  line-height: 1.4;
}

.primary {
  background-color: #17a2b8;
}
.primary:hover {
  background-color: #138496;
}

.download {
  font-size: 15px;
  color: #ddd;
}

.question {
  color: darkgreen;
  margin-bottom: 4px;
  font-weight: bold;
}

.answer {
  color: #444;
  margin-top: 0;
  margin-bottom: 15px;
}

footer {
  background-color: #eee;
  border-top: 1px solid grey;
  margin-top: 60px;
  padding: 0 15px 10px 15px;
}

footer p {
  text-align: justify;
}

.footer-title {
  font-size: 24px;
  text-align: center;
  display: block;
}


/* Media Queries */

/*splits footer into separate columns on larger screens*/
@media (min-width: 1100px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  section {
    width: 70%;
    margin: auto;
  }

  .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  footer {
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    grid-gap: 50px;
    padding-left: 80px;
    padding-right: 80px;
  }

}
